<div class="login-container">
  <main class="main-content">
    <h1 class="title">Connexion</h1>

    <form class="login-form">
      <mat-form-field class="mat" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          [(ngModel)]="authRequest.login"
          name="email"
          placeholder="Entrez votre adresse email"
          autocomplete="email"
        >
        <button *ngIf="authRequest.login" mat-icon-button type="button" aria-label="Clear" (click)="authRequest.login=''">
          <mat-icon>✖</mat-icon>
        </button>
      </mat-form-field>

      <div class="form-group">
        <mat-form-field class="mat" appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" [(ngModel)]="authRequest.password" name="password" placeholder="Entrez votre mot de passe">
          <button *ngIf="authRequest.password" mat-icon-button aria-label="Clear" (click)="authRequest.password=''">
            <mat-icon>✖</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit" (click)="login()">Valider</button>
        <button mat-raised-button color="warn" type="button" (click)="goToAccueil()">Annuler</button>
      </div>

      <!-- Bouton "Créer un compte" -->
      <div class="button-connect">
        <button class="btn-change" (click)="goToInscription()">Vous n'avez pas de compte ?</button>
      </div>
    </form>
  </main>
</div>
